@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');

@import "tailwindcss";

body {
  font-family: 'Manrope', sans-serif;
  background: #F7F4EF;
}

/* ===============================
   Hide Horizontal Scrollbar
================================ */

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ===============================
   Luxury Hero Animations
================================ */

@keyframes fadeSlide {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade {
  animation: fadeSlide 0.8s ease;
}

.hero-image {
  transition: transform 0.8s ease;
}

.hero-image:hover {
  transform: scale(1.05);
}

.hero-btn {
  transition: all 0.35s ease;
}

.hero-btn:hover {
  transform: translateY(-4px);
}

.hero-tag {
  transition: 0.35s;
}

.hero-tag:hover {
  background: #2D2119;
  color: white;
}

/* ===============================
   Marquee Animation
================================ */

@keyframes marquee {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  animation: marquee 45s linear infinite;
}

.animate-marquee:hover {
  animation-play-state: paused;
}

/* ===============================
   Fade Up Animation
================================ */

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(35px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}